EngWorx/EngWorxWeb/FrontEnd/ServiceProxy/Service References/WcfService/WcfService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:21709/WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Domain" />
  <xs:complexType name="GetFilteredOfTUSR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GetFilteredOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Service.DataContracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TUSR" Namespace="http://schemas.datacontract.org/2004/07/Domain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="Parameters" nillable="true" type="q1:TUSR" />
      <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sortDirection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalrows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFilteredOfTUSR" nillable="true" type="tns:GetFilteredOfTUSR" />
  <xs:complexType name="GetFilteredOfTROL">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GetFilteredOf{0}" Namespace="http://schemas.datacontract.org/2004/07/Service.DataContracts" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TROL" Namespace="http://schemas.datacontract.org/2004/07/Domain" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Domain" minOccurs="0" name="Parameters" nillable="true" type="q2:TROL" />
      <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      <xs:element minOccurs="0" name="sort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sortDirection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalrows" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetFilteredOfTROL" nillable="true" type="tns:GetFilteredOfTROL" />
</xs:schema>