EngWorx/EngWorxWeb/FrontEnd/ServiceProxy/Service References/WcfService/WcfService52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HeaderInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceParam" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeaderInput" nillable="true" type="tns:HeaderInput" />
  <xs:complexType name="HeaderOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="securityToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceParam" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeaderOutput" nillable="true" type="tns:HeaderOutput" />
</xs:schema>